# dependencies
**/node_modules
# IDEs and editors
.idea
*.iml
.project
.classpath
*.launch
.settings/

#System Files
.DS_Store
Thumbs.db

# Remix
build
**/build
**/.cache
**/yarn-error.log

# artifacts
**/cypress/videos
**/cypress/screenshots
