# dependencies
**/node_modules
# IDEs and editors
.idea
*.iml
.project
.classpath
*.launch
.settings/

#secrets
preferences.arc


#System Files
.DS_Store
Thumbs.db

# Remix
**/build
**/public/build
**/.cache
**/yarn-error.log
/public/build
sam.json
sam.yaml

# artifacts
**/cypress/videos
