# dependencies
**/node_modules
# IDEs and editors
.idea
*.iml
.project
.classpath
*.launch
.settings/


#System Files
.DS_Store
Thumbs.db

# Remix
**/build
**/data-build
**/public/build
**/.cache
**/yarn-error.log
/public/build
sam.json
sam.yaml